@import 'tailwindcss';

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body,
html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #303030;
  color: white;
  /* scrollbar-gutter: stable; */
}

/* body::-webkit-scrollbar{display: none;} */
#tasklist::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .noScroll::-webkit-scrollbar {
    display: none;
  }
}